release/category.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Пораблок - продажа газобетонных блоков</title>
  </head>
  <body>
    <header class="stick style1 w-100">
<div class="topbar bg-color5 w-100">
<div class="container">
<div class="topbar-inner d-flex flex-wrap justify-content-between align-items-center w-100">
<ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
<li class="d-flex align-items-center font-13 text-uppercase text-white">
<i class="icon-pin font-18 text-white"></i>	Челябинск</li>
<li class="d-flex align-items-center">
<i class="icon-mail font-18 text-white"></i>
<a class="text-white" href="mailto:info@mail.ru" title="">Email: info@mail.ru</a>
</li>
</ul>
<ul class="topbar-links mb-0 list-unstyled d-inline-flex">
<li><a href="#" class="font-14 font-500 text-white" download>Оптовым покупателям</a></li>
<li><a href="#" class="font-14 font-500 text-white" download>Скачать прайс-лист</a></li>
</ul>
</div>
</div>
</div>
<div class="logo-info-bar-wrap w-100">
<div class="container">
<div class="logo-info-bar-inner w-100 d-flex flex-wrap justify-content-between align-items-center">
<div class="logo-social d-inline-flex flex-wrap justify-content-between align-items-center">
<div class="logo">
<a href="#" title="Главная">
<img class="lazyload img-fluid" data-src="images/logo-black.png" alt="Logo" srcset="images/logo-black.png">
</a>
</div>
<div class="social-links">
<a class="color-000000" href="#" title="Vkontakte" target="_blank"><i class="icon-vk"></i></a>
<a class="color-000000" href="#" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>								
</div>
</div>
<div class="top-info-wrap d-inline-flex flex-wrap justify-content-between align-items-center">
<div class="add-cart position-relative pr-5 mr-5">
<a href="#" title=""><i class="icon-list-2 font-32 color-main"></i><b class="font-12 color-000000">Смета</b><span class="d-block color-000000 font-12">Выбрано 0 позиций</span>
</a>
</div>
<a class="call-us" href="tel:88005005774">
<i class="icon-phone-call font-32 color-main"></i>
<span class="font-14 color-000000">Звонок бесплатный</span>
<b class="font-14 color-000000">8 800-500-57-74</b>
</a>
</div>
</div>
</div>
</div>
<div class="menu-wrap">
<div class="container">
<nav class="d-inline-flex justify-content-between align-items-center w-100 bg-color1">
<div class="header-left">
<ul class="mb-0 list-unstyled d-inline-flex">								
<li class="active"><a href="#" title="">Главная</a></li>
<li><a href="#" title="">Каталог</a></li>
<li><a href="#" title="">Цены</a></li>
<li><a href="#" title="">О заводе</a></li>
<li><a href="#" title="">Как строить</a></li>
<li><a href="#" title="">Клиентам</a></li>
<li><a href="#" title="">Доставка</a></li>
<li><a href="#" title="">Контакты</a></li>
</ul>
</div>
<div class="header-right-btns">
<a class="get-quote" href="#" title="" data-toggle="modal" data-target="#exampleModal">
<i class="icon-help font-25"></i>Оставить заявку<i class="flaticon-arrow-pointing-to-right"></i>
</a>
</div>
</nav>
</div>
</div>
</header>
<div class="sticky-menu">
<div class="container">
<div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
<div class="logo">
<a href="index.html" title="Главная">
<img class="img-fluid lazyload" data-src="images/logo-black.png" alt="Logo" srcset="images/logo-black.png">
</a>
</div>
<nav class="d-inline-flex justify-content-between align-items-center">
<div class="header-left">
<ul class="mb-0 list-unstyled d-inline-flex">
<li><a href="#" title="">Главная</a></li>
<li><a href="#" title="">Каталог</a></li>
<li><a href="#" title="">Цены</a></li>
<li><a href="#" title="">О заводе</a></li>
<li><a href="#" title="">Как строить</a></li>
<li><a href="#" title="">Клиентам</a></li>
<li><a href="#" title="">Доставка</a></li>
<li><a href="#" title="">Контакты</a></li>
</ul>
</div>
</nav>
</div>
</div>
</div>
<div class="rspn-hdr">
<div class="rspn-mdbr justify-content-between px-3 pt-1 pb-2">	
<ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
<li class="d-flex align-items-center font-12 text-white">
<i class="icon-pin font-14 color-main mr-1"></i>	Челябинск</li>
</ul>
<a class="d-flex align-items-center" href="tel:88005005774">
<i class="icon-phone-call font-14 text-white mr-2"></i>
<span class="font-12 text-white">8 800-500-57-74</span>
</a>
</div>
<div class="lg-mn">
<div class="logo">
<a href="#" title="Главная">
<img class="lazyload" data-src="images/logo-black.png" alt="Logo">
</a>
</div>
    <div class="d-flex align-items-center"><div class="add-cart position-relative mr-3">
<a href="#" title=""><i class="icon-list-2 position-relative font-24 color-main"></i></a><span class="add-cart__count">2</span></div>
<div class="position-relative"><a class="btn-phone-modal" href="#" data-toggle="modal" data-target="#phoneModal"><i class="icon-phone-call font-24 color-main"></i></a></div>
<span class="rspn-mnu-btn"><span></span><span></span><span></span></span>
    </div></div>
<div class="rsnp-mnu">
<span class="rspn-mnu-cls"><i class="icon-cross"></i></span>
<div class="col-12 text-center">
<img  class="lazyload" data-src="images/logo-black.png" alt="">
</div>
<div class="col-12 text-center phone3">
<a class="font-18 color-000000" href="tel:8 800 500-57-74">8 800 500-57-74</a>
</div>
<ul class=" navigation-mobile mb-0 list-unstyled w-100">
<li class="active">
<a href="#"><span class="wrapper-img"><i class="icon-home"></i></span>Главная</a>
</li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-construction-1"></i></span>Каталог</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-price-tag"></i></span>Цены</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-construction"></i></span>О заводе</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-factory"></i></span>Как строить</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-lightbulb"></i></span>Клиентам</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-fast"></i></span>Доставка</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-contact"></i></span>Контакты</a></li></ul>
<div class="col-12 text-center mail2">
<a class="font-18 color-000000 font-normal" href="mailto:">info@mail.ru</a>
</div>
<div class="row justify-content-center">
<div class="col-2 px-2 d-flex justify-content-center">
<a href="#"><img class="lazyload" data-src="images/telegram.svg"></a>
</div>
<div class="col-2 px-2 d-flex justify-content-center">
<a href="#"><img class="lazyload" data-src="images/whatsapp.svg"></a>
</div>
<div class="col-2 px-2 d-flex justify-content-center">
<a href="#"><img class="lazyload" data-src="images/viber.svg"></a>
</div>
</div>
</div>
</div><section>
<div class="w-100 pt-70 pb-50 position-relative">
<div class="container">
<div class="page-top-wrap w-100">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html" title="">Главная</a></li>
<li class="breadcrumb-item"><a href="index.html" title="">Каталог</a></li>
<li class="breadcrumb-item active">Газобетонные блоки</li>
</ol>
</div>
</div>
</div>
</section><section>
<div class="container">
<div class="row">
    <div class="col-12 pt-3 pb-2 py-lg-5"><h1 class="mb-0 font-22-36 color-000000">Газобетонные блоки</h1></div><div class="col-lg-3">
<div class="position-relative w-100">									
<div class="calc calc_catalog text-center">
<h3 class="pb-30 font-22">Калькулятор расчета</h3>
<div class="row">
<div class="col-12">
<div class="field-box w-100 mb-3 pb-1">												
<input type="text" placeholder="Длина стен (м)">
</div>
</div>											
<div class="col-12">
<div class="field-box w-100 mb-3 pb-1">												
<input type="text" placeholder="Площадь окон (м2)">
</div>
</div>
<div class="col-12">
<div class="field-box w-100 mb-3 pb-1">												
<input type="text"  placeholder="Высота стен (м)">
</div>
</div>											
<div class="col-12">
<div class="field-box w-100 mb-3 pb-1">
<select>
<option>Толщина блока</option>
<option>Параметр 1</option>
<option>Параметр 2</option>
<option>Параметр 3</option>
</select>													
</div>
</div>
<div class="col-12">
<div class="field-box w-100 mb-3 pb-1">												
<select>
<option>Толщина армирования</option>
<option>Параметр 1</option>
<option>Параметр 2</option>
<option>Параметр 3</option>
</select>
</div>
</div>											
<div class="col-12">
<div class="field-box w-100 mb-3 pb-1">												
<select>
<option>Тип блока</option>
<option>Параметр 1</option>
<option>Параметр 2</option>
<option>Параметр 3</option>
</select>
</div>
</div>
<div class="col-lg-12 text-center">
<a href="#" class="thm-btn thm-bg text-uppercase" >Рассчитать<i class="icon-arrow-long-right font-30"></i></a>
</div>
</div>
</div>
</div>					
</div>
<div class="col-lg-9 pt-5 pt-lg-0">
    <div class="shop-wrap w-100 pb-30">
      <div class="row"><div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
<div class="shop-box w-100 kat">
<div class="shop-img w-100 position-relative overflow-hidden">
        <div class="px-3"><img class="img-fluid w-100 lazyload" data-src="images/product3.png" alt="Shop Image 1"></div><a href="#" title="">Подробнее</a>
<h3 class="text-center pt-4"><a class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="">Газобетонные блоки</a></h3>
</div>
</div>
</div><div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
<div class="shop-box w-100 kat">
<div class="shop-img w-100 position-relative overflow-hidden">
        <div class="px-3"><img class="img-fluid w-100 lazyload" data-src="images/product4.png" alt="Shop Image 1"></div><a href="#" title="">Подробнее</a>
<h3 class="text-center pt-4"><a class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="">Кладочные смеси</a></h3>
</div>
</div>
</div><div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
<div class="shop-box w-100 kat">
<div class="shop-img w-100 position-relative overflow-hidden">
        <div class="px-3"><img class="img-fluid w-100 lazyload" data-src="images/product5.png" alt="Shop Image 1"></div><a href="#" title="">Подробнее</a>
<h3 class="text-center pt-4"><a class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="">Инструменты</a></h3>
</div>
</div>
</div><div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
<div class="shop-box w-100 kat">
<div class="shop-img w-100 position-relative overflow-hidden">
        <div class="px-3"><img class="img-fluid w-100 lazyload" data-src="images/product6.png" alt="Shop Image 1"></div><a href="#" title="">Подробнее</a>
<h3 class="text-center pt-4"><a class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="">Материалы для армирования</a></h3>
</div>
</div>
</div><div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
<div class="shop-box w-100 kat">
<div class="shop-img w-100 position-relative overflow-hidden">
        <div class="px-3"><img class="img-fluid w-100 lazyload" data-src="images/product7.png" alt="Shop Image 1"></div><a href="#" title="">Подробнее</a>
<h3 class="text-center pt-4"><a class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="">Перемычки для казобетона</a></h3>
</div>
</div>
</div><div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
<div class="shop-box w-100 kat">
<div class="shop-img w-100 position-relative overflow-hidden">
        <div class="px-3"><img class="img-fluid w-100 lazyload" data-src="images/product8.png" alt="Shop Image 1"></div><a href="#" title="">Подробнее</a>
<h3 class="text-center pt-4"><a class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="">Грунтовка</a></h3>
</div>
</div>
</div>
      </div>
    </div></div>
</div>
</div>
</section><section>
<div class="w-100 pt-100 pb-100 position-relative">
<div class="container">
<div class="about-wrap w-100">
<div class="row justify-content-center">
<div class="col-md-12 col-sm-12 col-lg-10">
<div class="about-content-wrap w-100">
<div class="row">
<div class="col-12">
    <h3 class="font-18-24 text-center text-uppercase color-000000 mb-5">ПОЧЕМУ СТОИТ КУПИТЬ У НАС</h3></div>
<div class="col-12 col-lg-4 d-flex align-items-start mb-4">
<i class="icon-shipped font-70 color-main"></i>
<div class="pl-3">
<b class="block font-18 color-000000 mb-1">ДОСТАВКА ЗА 24 ЧАСА</b>
<span class="d-block color-000000 font-18">Мы осуществляем отгрузку товара в кратчашие сроки</span>
</div>
</div>
<div class="ol-12 col-lg-4 d-flex align-items-start mb-4">
<i class="icon-wallet font-70 color-main"></i>
<div class="pl-3">
<b class="block font-18 color-000000 mb-1">ГАРАНТИЯ ЛУЧШЕ ЦЕНЫ</b>
<span class="d-block color-000000 font-18">Нашли дешевле, просто позвоните нам и мы предложим лучшую цену</span>
</div>
</div>
<div class="ol-12 col-lg-4 d-flex align-items-start mb-4">
<i class="icon-warehouse font-70 color-main"></i>
<div class="pl-3">
<b class="block font-18 color-000000 mb-1">БЕСПЛАТНОЕ ХРАНЕНИЕ</b>
<span class="d-block color-000000 font-18">Мы осуществим хранение на нужный для вас срок.</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section><section class="">
<div class="w-100 thm-layer opc1 overflow-hidden position-relative">
<div class="parallax-bg zoom-anim back-blend-multiply patern-bg thm-bg" style="background-image: url(images/pattern-bg1.png);"></div>
<div class="about_kont">
<div class="about1 pr-lg-4">
<div class="row pt-50">
<div class="col-md-12 col-sm-12 col-lg-12">
<div class="sec-title title-with-shape2 w-100 d-flex align-items-start m-0"><img class="lazyload mr-5" data-src="images/title-shp3.png" alt="img"><div class="">
<span class="d-block text-white">о нас</span>
<h3 class="mb-0 text-white">О нашем заводе</h3>
</div>
</div>
</div>
</div>
<div class="row pt-30 pb-5">
<div class="col-lg-12">
<p class="text-white"> Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH, Германия, г. Дельменхорст.
</p>
<p class="text-white"> Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH, Германия, г. Дельменхорст.
</p>						
</div>
    <div class="col-10 d-flex align-items-start"><i class="icon-shipped font-70 text-white"></i>
<div class="pl-3">
<b class="block font-18 text-white mb-1">Задача</b>
<span class="d-block text-white">Описание той задачи, которая стояла перед организацией.</span>
</div>						
    </div></div>
</div>
<div class="about2">
<div class="post-detail-gallery-video-box position-relative w-100">
<a class="rounded-circle spinner spinner-blue" href="https://www.youtube.com/embed/BQml6wv3Bb4" data-fancybox title="">
<i class="icon-play"></i>
</a>
<img class="img-fluid w-100 lazyload" data-src="images/komanda.jpg" alt="Detail Gallery Video">
</div>
</div>
</div>
</div>
</section><section class="pt-100 pb-100 seo-text">
<div class="container">
<div class="row">
<div class="col-12 col-lg-5">
<div class="sec-title title-with-shape w-100">
<div class="sec-title-inner d-flex align-items-start w-100"><img class="lazyload mr-5" data-src="images/title-shp1.png" alt="img"><h3 class="mb-0 font-22-36 color-000000">Газобетон купить в Челябинске</h3>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<p class="font-16 color-000000">Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Равным образом новая модель организационной деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия.
</p>
<p class="font-16 color-000000">Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Равным образом новая модель организационной деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия.
</p>
</div>
</div>
</div>
</section>
    <section class="area-request-form">
<div class="w-100 ">
<div class="container">
<div class="getin-touch-wrap overlap-99 brd-rd5 style2 thm-layer opc8 w-100 position-relative">
<div class="fixed-bg" style="background-image: url(images/parallax2.jpg);"></div>
<div class="row align-items-center justify-content-between">
<div class="col-lg-3">
<img data-src="images/muzik.png" class="position-absolute img_muzik lazyload">
</div>
<div class="col-md-7 col-sm-12 col-lg-5">
<div class="getin-touch-title w-100">
<span class="text-white d-block font-16">Давайте сделаем расчёт вашего проекта</span>
<h3 class="mb-0 text-white font-24">Оставьте контакты и мы сделаем вам персональное предложение</h3>
</div>
</div>
<div class="col-md-5 col-sm-12 col-lg-4">
<div class="getin-touch-btn text-right">
<a class="thm-btn bg-color1 thm-btn-only-white text-uppercase" href="#" title="" data-toggle="modal" data-target="#exampleModal">Заполнить заявку<i class="icon-arrow-long-right color-000000 font-30"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><footer>
<div class="w-100 bg-color5 pt-195 pb-10 position-relative">
<div class="container">
<div class="footer-data w-100">
<div class="row">
<div class="col-md-6 col-sm-6 col-lg-3">
<div class="widget w-100">
<div class="logo w-100">
<a href="#" title="Home">
<img class="img-fluid lazyload" data-src="images/logo-white-text.svg" alt="Logo">
</a>
</div>
<p class="mb-0 lin18 text-white font-14">ТД «Пораблок» удовлетворит ваши потребности связанные с приобретением газобетонных блоков, качественно и быстро. Вся продукция сертифицированна.</p>
<div class="social-links2 d-inline-block">
<a href="#" title="Instagram" target="_blank"><i class="icon-vk"></i></a>
<a href="#" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12 col-lg-6">
<div class="row">
<div class="col-md-4 col-sm-4 col-lg-6">
<div class="widget w-100">
<h3>О компании</h3>
<ul class="mb-0 list-unstyled w-100">
<li><a class="text-white" href="#" title="">Наша продукция</a></li>
<li><a class="text-white" href="#" title="">Сертификаты</a></li>
<li><a class="text-white" href="#" title="">Команда</a></li>
<li><a class="text-white" href="#" title="">О компании</a></li>
</ul>
</div>
</div>
<div class="col-md-4 col-sm-4 col-lg-6">
<div class="widget w-100">
<h3>Продукция</h3>
<ul class="mb-0 list-unstyled w-100">
<li><a class="text-white" href="#" title="">Блоки</a></li>
<li><a class="text-white" href="#" title="">Сопутствующие товары</a></li>												
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-3">
<div class="phone2">
<a href="tel:88005005774">8 800 500 57-74</a>
<p class="text-white">звонок бесплатный</p>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="copyright">
<div class="container">
<p class="mb-0 text-white">2020 - завод пораблок, все права защищены</p>
</div>
</div><!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Заявка в компанию</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form class="contact-form text-center w-100" action="#" method="post">
<div class="row">
<div class="col-md-12 col-sm-12 col-lg-12">
<div class="form-group w-100">
<div class="response w-100"></div>
</div>
</div>
<div class="col-md-6 col-sm-6 col-lg-6">
<label class="d-block">Ваше имя :</label>
<input class="fname" type="text" name="fname">
</div>
<div class="col-md-6 col-sm-6 col-lg-6">
<label class="d-block">Телефон или e-mail :</label>
<input class="email" type="email" name="email">
</div>
<div class="col-md-12 col-sm-12 col-lg-12">
<label class="d-block">Сообщение:</label>
<textarea class="contact_message" name="contact_message"></textarea>
<button class="thm-btn thm-bg text-uppercase" id="submit" type="button">Отправить<i class="icon-arrow-long-right font-30"></i></button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body d-flex flex-column"><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-messenger-1 font-17 color-main mr-2"></i>Написать сообщение</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="tel:88005005774"><i class="icon-phone-1 font-17 color-main mr-2"></i>Позвонить</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-whatsapp-1-1 font-17 color-main mr-2"></i>Написать в WhatsApp</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-viber-3 font-17 color-main mr-2"></i>Написать в Viber</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-vk-4 font-17 color-main mr-2"></i>Написать Вконтакте</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-odnoklassniki-1 font-17 color-main mr-2"></i>Написать в Одноклассники</a><a class="d-flex align-items-center font-14 color-000000" href="#"><i class="icon-Vector font-17 color-main mr-2"></i>Написать в Telegram</a></div>
</div>
</div>
</div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/category.pug
extends base-inner.pug
block content
	include components/breadcrums.pug
	<section>
		<div class="container">
			<div class="row">
				div(class="col-12 pt-3 pb-2 py-lg-5")
					<h1 class="mb-0 font-22-36 color-000000">Газобетонные блоки</h1>
				<div class="col-lg-3">
					<div class="position-relative w-100">									
						<div class="calc calc_catalog text-center">
							<h3 class="pb-30 font-22">Калькулятор расчета</h3>
							<div class="row">
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text" placeholder="Длина стен (м)">
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text" placeholder="Площадь окон (м2)">
									</div>
								</div>
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text"  placeholder="Высота стен (м)">
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">
										<select>
											<option>Толщина блока</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>													
									</div>
								</div>
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<select>
											<option>Толщина армирования</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<select>
											<option>Тип блока</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12 text-center">
									<a href="#" class="thm-btn thm-bg text-uppercase" >Рассчитать<i class="icon-arrow-long-right font-30"></i></a>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-lg-9 pt-5 pt-lg-0">
					div(class="shop-wrap w-100 pb-30")
						div(class="row")
							- let catImg = ["images/product3.png", "images/product4.png", "images/product5.png", "images/product6.png", "images/product7.png", "images/product8.png"]
							each item, index in ["Газобетонные блоки", "Кладочные смеси", "Инструменты", "Материалы для армирования", "Перемычки для казобетона", "Грунтовка"]
								<div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
									<div class="shop-box w-100 kat">
										<div class="shop-img w-100 position-relative overflow-hidden">
											div(class="px-3")
												img(class="img-fluid w-100 lazyload" data-src=catImg[index] alt="Shop Image 1")
											<a href="#" title="">Подробнее</a>
											<h3 class="text-center pt-4">
												a( class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="")
													= item
											</h3>
										</div>
									</div>
								</div>
				</div>
			</div>
		</div>
	</section>
	include components/area-buy-rare.pug
	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug
