source/html/contacts.pug
extends base-inner.pug
block content
	include components/breadcrums.pug

	<section>
		<div class="container pb-lg-5">
			<div class="row pt-50 pb-5 mb-lg-5">
				<div class="col-12 pb-5 mb-lg-4">
					<h1 class="font-36 color-000000">Контакты</h1>
				</div>
				<div class="col-12 col-lg-4 pb-4 pb-lg-0">
					<a class="d-flex flex-column align-items-start" href="tel:+73512207257">
						i(class="icon-phone-call color-main font-64 mb-4")
						span(class="font-18 color-000000")
							| +7 (351) 220-72-57
					</a>
				</div>
				<div class="col-12 col-lg-4 pb-4 pb-lg-0">
					<a class="d-flex flex-column align-items-start" href="mailto:chel@gazobeton-blok.ru">
						i(class="icon-mail color-main font-64 mb-4")
						span(class="font-18 color-000000")
							| chel@gazobeton-blok.ru
					</a>
				</div>
				<div class="col-12 col-lg-4 pb-4 pb-lg-0 d-flex flex-column align-items-start">
					i(class="icon-location-pin color-main font-64 mb-4")
					<span class="font-18 color-000000">454008, Россия, Челябинск, Свердловский проспект, 32, офис 102</span>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="w-100 pb-100 position-relative">
			<div class="container">
				<div class="sec-title v2 text-left w-100">
					<div class="sec-title-inner d-inline-block">
						<h2 class="font-24 mb-3 color-000000">
							b()
								| Форма обратной связи
						</h2>
					</div>
				</div>
				<form class="contact-form text-center w-100 contact-form-rare" action="#" method="post" id="email-form">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div class="form-group w-100">
								<div class="response w-100"></div>
							</div>
						</div>
						<div class="col-md-4">
							<input class="fname" type="text" name="fname" placeholder="Имя">
						</div>
						<div class="col-md-4">
							<input class="phone" type="tel" name="phone" placeholder="Телефон">
						</div>
						<div class="col-md-4">
							<input class="email" type="email" name="email" placeholder="E-mail">
						</div>
						<div class="col-12">
							<textarea class="contact_message" name="contact_message" placeholder="Сообщение"></textarea>
							<button class="thm-btn thm-bg text-uppercase" id="submit" type="button">Отправить<i class="icon-arrow-long-right font-30 "></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section class="container d-block pb-5">
		<div class="row pb-5 mb-5">
			<div class="col-12 pb-5">
				<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.158228793397!2d61.38313901616212!3d55.18050208040417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ecc35636c35b%3A0x44e4cc9ce3de390a!2z0L_RgNC-0YHQvy4g0KHQstC10YDQtNC70L7QstGB0LrQuNC5LCAzMiwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA4NA!5e0!3m2!1sru!2sru!4v1614675580780!5m2!1sru!2sru" width="100%" height="445" style="border:0; " allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</section>

	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug

release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Пораблок - продажа газобетонных блоков</title>
  </head>
  <body>
    <header class="stick style1 w-100">
<div class="topbar bg-color5 w-100">
<div class="container">
<div class="topbar-inner d-flex flex-wrap justify-content-between align-items-center w-100">
<ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
<li class="d-flex align-items-center font-13 text-uppercase text-white">
<i class="icon-pin font-18 text-white"></i>	Челябинск</li>
<li class="d-flex align-items-center">
<i class="icon-mail font-18 text-white"></i>
<a class="text-white" href="mailto:info@mail.ru" title="">Email: info@mail.ru</a>
</li>
</ul>
<ul class="topbar-links mb-0 list-unstyled d-inline-flex">
<li><a href="#" class="font-14 font-500 text-white" download>Оптовым покупателям</a></li>
<li><a href="#" class="font-14 font-500 text-white" download>Скачать прайс-лист</a></li>
</ul>
</div>
</div>
</div>
<div class="logo-info-bar-wrap w-100">
<div class="container">
<div class="logo-info-bar-inner w-100 d-flex flex-wrap justify-content-between align-items-center">
<div class="logo-social d-inline-flex flex-wrap justify-content-between align-items-center">
<div class="logo">
<a href="#" title="Главная">
<img class="lazyload img-fluid" data-src="images/logo-black.png" alt="Logo" srcset="images/logo-black.png">
</a>
</div>
<div class="social-links">
<a class="color-000000" href="#" title="Vkontakte" target="_blank"><i class="icon-vk"></i></a>
<a class="color-000000" href="#" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>								
</div>
</div>
<div class="top-info-wrap d-inline-flex flex-wrap justify-content-between align-items-center">
<div class="add-cart position-relative pr-5 mr-5">
<a href="#" title=""><i class="icon-list-2 font-32 color-main"></i><b class="font-12 color-000000">Смета</b><span class="d-block color-000000 font-12">Выбрано 0 позиций</span>
</a>
</div>
<a class="call-us" href="tel:88005005774">
<i class="icon-phone-call font-32 color-main"></i>
<span class="font-14 color-000000">Звонок бесплатный</span>
<b class="font-14 color-000000">8 800-500-57-74</b>
</a>
</div>
</div>
</div>
</div>
<div class="menu-wrap">
<div class="container">
<nav class="d-inline-flex justify-content-between align-items-center w-100 bg-color1">
<div class="header-left">
<ul class="mb-0 list-unstyled d-inline-flex">								
<li class="active"><a href="#" title="">Главная</a></li>
<li><a href="#" title="">Каталог</a></li>
<li><a href="#" title="">Цены</a></li>
<li><a href="#" title="">О заводе</a></li>
<li><a href="#" title="">Как строить</a></li>
<li><a href="#" title="">Клиентам</a></li>
<li><a href="#" title="">Доставка</a></li>
<li><a href="#" title="">Контакты</a></li>
</ul>
</div>
<div class="header-right-btns">
<a class="get-quote" href="#" title="" data-toggle="modal" data-target="#exampleModal">
<i class="icon-help font-25"></i>Оставить заявку<i class="flaticon-arrow-pointing-to-right"></i>
</a>
</div>
</nav>
</div>
</div>
</header>
<div class="sticky-menu">
<div class="container">
<div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
<div class="logo">
<a href="index.html" title="Главная">
<img class="img-fluid lazyload" data-src="images/logo-black.png" alt="Logo" srcset="images/logo-black.png">
</a>
</div>
<nav class="d-inline-flex justify-content-between align-items-center">
<div class="header-left">
<ul class="mb-0 list-unstyled d-inline-flex">
<li><a href="#" title="">Главная</a></li>
<li><a href="#" title="">Каталог</a></li>
<li><a href="#" title="">Цены</a></li>
<li><a href="#" title="">О заводе</a></li>
<li><a href="#" title="">Как строить</a></li>
<li><a href="#" title="">Клиентам</a></li>
<li><a href="#" title="">Доставка</a></li>
<li><a href="#" title="">Контакты</a></li>
</ul>
</div>
</nav>
</div>
</div>
</div>
<div class="rspn-hdr">
<div class="rspn-mdbr justify-content-between px-3 pt-1 pb-2">	
<ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
<li class="d-flex align-items-center font-12 text-white">
<i class="icon-pin font-14 color-main mr-1"></i>	Челябинск</li>
</ul>
<a class="d-flex align-items-center" href="tel:88005005774">
<i class="icon-phone-call font-14 text-white mr-2"></i>
<span class="font-12 text-white">8 800-500-57-74</span>
</a>
</div>
<div class="lg-mn">
<div class="logo">
<a href="#" title="Главная">
<img class="lazyload" data-src="images/logo-black.png" alt="Logo">
</a>
</div>
    <div class="d-flex align-items-center"><div class="add-cart position-relative mr-3">
<a href="#" title=""><i class="icon-list-2 position-relative font-24 color-main"></i></a><span class="add-cart__count">2</span></div>
<div class="position-relative"><a class="btn-phone-modal" href="#" data-toggle="modal" data-target="#phoneModal"><i class="icon-phone-call font-24 color-main"></i></a></div>
<span class="rspn-mnu-btn"><span></span><span></span><span></span></span>
    </div></div>
<div class="rsnp-mnu">
<span class="rspn-mnu-cls"><i class="icon-cross"></i></span>
<div class="col-12 text-center">
<img  class="lazyload" data-src="images/logo-black.png" alt="">
</div>
<div class="col-12 text-center phone3">
<a class="font-18 color-000000" href="tel:8 800 500-57-74">8 800 500-57-74</a>
</div>
<ul class=" navigation-mobile mb-0 list-unstyled w-100">
<li class="active">
<a href="#"><span class="wrapper-img"><i class="icon-home"></i></span>Главная</a>
</li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-construction-1"></i></span>Каталог</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-price-tag"></i></span>Цены</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-construction"></i></span>О заводе</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-factory"></i></span>Как строить</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-lightbulb"></i></span>Клиентам</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-fast"></i></span>Доставка</a></li>
    <li><a href="#"><span class="wrapper-img"><i class="icon-contact"></i></span>Контакты</a></li></ul>
<div class="col-12 text-center mail2">
<a class="font-18 color-000000 font-normal" href="mailto:">info@mail.ru</a>
</div>
<div class="row justify-content-center">
<div class="col-2 px-2 d-flex justify-content-center">
<a href="#"><img class="lazyload" data-src="images/telegram.svg"></a>
</div>
<div class="col-2 px-2 d-flex justify-content-center">
<a href="#"><img class="lazyload" data-src="images/whatsapp.svg"></a>
</div>
<div class="col-2 px-2 d-flex justify-content-center">
<a href="#"><img class="lazyload" data-src="images/viber.svg"></a>
</div>
</div>
</div>
</div><section>
<div class="w-100 pt-70 pb-50 position-relative">
<div class="container">
<div class="page-top-wrap w-100">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html" title="">Главная</a></li>
<li class="breadcrumb-item"><a href="index.html" title="">Каталог</a></li>
<li class="breadcrumb-item active">Газобетонные блоки</li>
</ol>
</div>
</div>
</div>
</section><section>
<div class="container pb-lg-5">
<div class="row pt-50 pb-5 mb-lg-5">
<div class="col-12 pb-5 mb-lg-4">
<h1 class="font-36 color-000000">Контакты</h1>
</div>
<div class="col-12 col-lg-4 pb-4 pb-lg-0">
<a class="d-flex flex-column align-items-start" href="tel:+73512207257"><i class="icon-phone-call color-main font-64 mb-4"></i><span class="font-18 color-000000">+7 (351) 220-72-57</span></a>
</div>
<div class="col-12 col-lg-4 pb-4 pb-lg-0">
<a class="d-flex flex-column align-items-start" href="mailto:chel@gazobeton-blok.ru"><i class="icon-mail color-main font-64 mb-4"></i><span class="font-18 color-000000">chel@gazobeton-blok.ru</span></a>
</div>
<div class="col-12 col-lg-4 pb-4 pb-lg-0 d-flex flex-column align-items-start"><i class="icon-location-pin color-main font-64 mb-4"></i><span class="font-18 color-000000">454008, Россия, Челябинск, Свердловский проспект, 32, офис 102</span>
</div>
</div>
</div>
</section>
<section>
<div class="w-100 pb-100 position-relative">
<div class="container">
<div class="sec-title v2 text-left w-100">
<div class="sec-title-inner d-inline-block">
<h2 class="font-24 mb-3 color-000000"><b>Форма обратной связи</b></h2>
</div>
</div>
<form class="contact-form text-center w-100 contact-form-rare" action="#" method="post" id="email-form">
<div class="row">
<div class="col-md-12 col-sm-12 col-lg-12">
<div class="form-group w-100">
<div class="response w-100"></div>
</div>
</div>
<div class="col-md-4">
<input class="fname" type="text" name="fname" placeholder="Имя">
</div>
<div class="col-md-4">
<input class="phone" type="tel" name="phone" placeholder="Телефон">
</div>
<div class="col-md-4">
<input class="email" type="email" name="email" placeholder="E-mail">
</div>
<div class="col-12">
<textarea class="contact_message" name="contact_message" placeholder="Сообщение"></textarea>
<button class="thm-btn thm-bg text-uppercase" id="submit" type="button">Отправить<i class="icon-arrow-long-right font-30 "></i></button>
</div>
</div>
</form>
</div>
</div>
</section>
<section class="container d-block pb-5">
<div class="row pb-5 mb-5">
<div class="col-12 pb-5">
<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.158228793397!2d61.38313901616212!3d55.18050208040417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ecc35636c35b%3A0x44e4cc9ce3de390a!2z0L_RgNC-0YHQvy4g0KHQstC10YDQtNC70L7QstGB0LrQuNC5LCAzMiwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA4NA!5e0!3m2!1sru!2sru!4v1614675580780!5m2!1sru!2sru" width="100%" height="445" style="border:0; " allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
</section><section class="">
<div class="w-100 thm-layer opc1 overflow-hidden position-relative">
<div class="parallax-bg zoom-anim back-blend-multiply patern-bg thm-bg" style="background-image: url(images/pattern-bg1.png);"></div>
<div class="about_kont">
<div class="about1 pr-lg-4">
<div class="row pt-50">
<div class="col-md-12 col-sm-12 col-lg-12">
<div class="sec-title title-with-shape2 w-100 d-flex align-items-start m-0"><img class="lazyload mr-5" data-src="images/title-shp3.png" alt="img"><div class="">
<span class="d-block text-white">о нас</span>
<h3 class="mb-0 text-white">О нашем заводе</h3>
</div>
</div>
</div>
</div>
<div class="row pt-30 pb-5">
<div class="col-lg-12">
<p class="text-white"> Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH, Германия, г. Дельменхорст.
</p>
<p class="text-white"> Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH, Германия, г. Дельменхорст.
</p>						
</div>
    <div class="col-10 d-flex align-items-start"><i class="icon-shipped font-70 text-white"></i>
<div class="pl-3">
<b class="block font-18 text-white mb-1">Задача</b>
<span class="d-block text-white">Описание той задачи, которая стояла перед организацией.</span>
</div>						
    </div></div>
</div>
<div class="about2">
<div class="post-detail-gallery-video-box position-relative w-100">
<a class="rounded-circle spinner spinner-blue" href="https://www.youtube.com/embed/BQml6wv3Bb4" data-fancybox title="">
<i class="icon-play"></i>
</a>
<img class="img-fluid w-100 lazyload" data-src="images/komanda.jpg" alt="Detail Gallery Video">
</div>
</div>
</div>
</div>
</section><section class="pt-100 pb-100 seo-text">
<div class="container">
<div class="row">
<div class="col-12 col-lg-5">
<div class="sec-title title-with-shape w-100">
<div class="sec-title-inner d-flex align-items-start w-100"><img class="lazyload mr-5" data-src="images/title-shp1.png" alt="img"><h3 class="mb-0 font-22-36 color-000000">Газобетон купить в Челябинске</h3>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<p class="font-16 color-000000">Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Равным образом новая модель организационной деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия.
</p>
<p class="font-16 color-000000">Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Равным образом новая модель организационной деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия.
</p>
</div>
</div>
</div>
</section>
    <section class="area-request-form">
<div class="w-100 ">
<div class="container">
<div class="getin-touch-wrap overlap-99 brd-rd5 style2 thm-layer opc8 w-100 position-relative">
<div class="fixed-bg" style="background-image: url(images/parallax2.jpg);"></div>
<div class="row align-items-center justify-content-between">
<div class="col-lg-3">
<img data-src="images/muzik.png" class="position-absolute img_muzik lazyload">
</div>
<div class="col-md-7 col-sm-12 col-lg-5">
<div class="getin-touch-title w-100">
<span class="text-white d-block font-16">Давайте сделаем расчёт вашего проекта</span>
<h3 class="mb-0 text-white font-24">Оставьте контакты и мы сделаем вам персональное предложение</h3>
</div>
</div>
<div class="col-md-5 col-sm-12 col-lg-4">
<div class="getin-touch-btn text-right">
<a class="thm-btn bg-color1 thm-btn-only-white text-uppercase" href="#" title="" data-toggle="modal" data-target="#exampleModal">Заполнить заявку<i class="icon-arrow-long-right color-000000 font-30"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><footer>
<div class="w-100 bg-color5 pt-195 pb-10 position-relative">
<div class="container">
<div class="footer-data w-100">
<div class="row">
<div class="col-md-6 col-sm-6 col-lg-3">
<div class="widget w-100">
<div class="logo w-100">
<a href="#" title="Home">
<img class="img-fluid lazyload" data-src="images/logo-white-text.svg" alt="Logo">
</a>
</div>
<p class="mb-0 lin18 text-white font-14">ТД «Пораблок» удовлетворит ваши потребности связанные с приобретением газобетонных блоков, качественно и быстро. Вся продукция сертифицированна.</p>
<div class="social-links2 d-inline-block">
<a href="#" title="Instagram" target="_blank"><i class="icon-vk"></i></a>
<a href="#" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12 col-lg-6">
<div class="row">
<div class="col-md-4 col-sm-4 col-lg-6">
<div class="widget w-100">
<h3>О компании</h3>
<ul class="mb-0 list-unstyled w-100">
<li><a class="text-white" href="#" title="">Наша продукция</a></li>
<li><a class="text-white" href="#" title="">Сертификаты</a></li>
<li><a class="text-white" href="#" title="">Команда</a></li>
<li><a class="text-white" href="#" title="">О компании</a></li>
</ul>
</div>
</div>
<div class="col-md-4 col-sm-4 col-lg-6">
<div class="widget w-100">
<h3>Продукция</h3>
<ul class="mb-0 list-unstyled w-100">
<li><a class="text-white" href="#" title="">Блоки</a></li>
<li><a class="text-white" href="#" title="">Сопутствующие товары</a></li>												
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-3">
<div class="phone2">
<a href="tel:88005005774">8 800 500 57-74</a>
<p class="text-white">звонок бесплатный</p>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="copyright">
<div class="container">
<p class="mb-0 text-white">2020 - завод пораблок, все права защищены</p>
</div>
</div><!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Заявка в компанию</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form class="contact-form text-center w-100" action="#" method="post">
<div class="row">
<div class="col-md-12 col-sm-12 col-lg-12">
<div class="form-group w-100">
<div class="response w-100"></div>
</div>
</div>
<div class="col-md-6 col-sm-6 col-lg-6">
<label class="d-block">Ваше имя :</label>
<input class="fname" type="text" name="fname">
</div>
<div class="col-md-6 col-sm-6 col-lg-6">
<label class="d-block">Телефон или e-mail :</label>
<input class="email" type="email" name="email">
</div>
<div class="col-md-12 col-sm-12 col-lg-12">
<label class="d-block">Сообщение:</label>
<textarea class="contact_message" name="contact_message"></textarea>
<button class="thm-btn thm-bg text-uppercase" id="submit" type="button">Отправить<i class="icon-arrow-long-right font-30"></i></button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body d-flex flex-column"><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-messenger-1 font-17 color-main mr-2"></i>Написать сообщение</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="tel:88005005774"><i class="icon-phone-1 font-17 color-main mr-2"></i>Позвонить</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-whatsapp-1-1 font-17 color-main mr-2"></i>Написать в WhatsApp</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-viber-3 font-17 color-main mr-2"></i>Написать в Viber</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-vk-4 font-17 color-main mr-2"></i>Написать Вконтакте</a><a class="d-flex align-items-center mb-3 font-14 color-000000" href="#"><i class="icon-odnoklassniki-1 font-17 color-main mr-2"></i>Написать в Одноклассники</a><a class="d-flex align-items-center font-14 color-000000" href="#"><i class="icon-Vector font-17 color-main mr-2"></i>Написать в Telegram</a></div>
</div>
</div>
</div>
    <script src="js/main.min.js"></script>
  </body>
</html>
